/** Write your CSS in here **/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  border-style: dotted;
}

.hidetheslide {
  display: none;
}

img {
  border: 3px solid #fff;
}
