/** Write your CSS in here **/

body {
  background-color: #abe9e8;
}

.row {
  height: 100vh;
}

.blockquote {
  padding: 2em 1.5em;
  border-radius: 10px;
}

.btn {
  margin-top: 2em;
}

.switch {
  right: 2em;
  top: 1em;
  position: absolute;
  user-select: none;
}