body {
    /*text-align: center;*/
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;;
    background-color: rgb(95,207,128);
  }
  #quote-box {
    position: absolute;
    top: 14%;
    left: 10%;
    right: 10%;
    width: 80%;
    line-height: .5;
  }
  .quote {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2;
    text-shadow: 0 1px 1px rgba(0,0,0, .8);
    position: relative;
    margin: 0;
    } 
  .quote:before, .quote:after {
    font-size: 2rem;
    line-height: 2.5rem;
    position: absolute;
  }
  .quote:before {
    content: "“";
    top: .25em;
    left: -.5em;
  }
  .quote:after {
    content: "”";
    bottom: -.1em;
    margin-left: .1em;
    position: absolute;
  }
  .author {
    font-size: 2.5rem;
    letter-spacing: 0.5em;
    line-height: 5;
    text-align: right;
    margin-top: 1rem;
    margin-right: 4em;
  }
  .author:before {
    content: "—";
  }
  .citation {
    font-size: 1.5rem;
    font-style: italic;
  }
  .citation:before {
    content: ", ";
    font-style: normal;
  }
  
  #myButton {
    font-size: 2.5rem;;
    position: fixed;
    width: 7em;
    display: inline-block;
    left: 50%;
    margin: 0 auto;
    bottom: 150px;
    border-radius: 15px;
    border: 2px solid rgb(117, 86, 86);
    color: #fff;
    background-color: rgba(255,255,255, 0);
    margin-top: 15px;
    padding: 15px 0;
    transition: .5s ;
  }
  #loadQuote:hover {
    background-color: rgba(255,255,255,.25);
  }
  #myButton:focus {
    outline: none;
  }
  
  @media (max-width: 420px) {
    .quote {
      font-size: 2.5rem;
    }
    .quote:before, .quote:after {
      font-size: 3rem;
    }
    .author {
      font-size: 1.5rem;
    }
  }